* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  cursor: pointer;
}

.center-container {
  max-width: 620px;
  grid-column-start: 2;
}

section.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-text {
  font-family: 'Norican', cursive;
}

.spinner {
  margin: 8vh auto auto;
}

/* Calendar Styles */
.react-datepicker__input-container,
.react-datepicker__triangle {
  display: none;
}
