/* Navbar Styles */
.navbar {
  background-color: #fff;
  display: grid;
  align-items: center;
  height: 60px;
  grid-template-columns:  1fr 620px 1fr;
}

.navbar .center-container {
  display: flex;
  justify-content: space-between;
}

.searchbar {
  margin: auto 0;
  height: 30px;
  padding: 0 .7rem;
  background-color: #efefef;
  border: none;
  outline: none;
  border-radius: .5rem;
}

.navbar .right-container {
  padding-left: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar .right-container img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
